body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}
::-webkit-scrollbar { 
    display: none; 
}
h1 {
    font-size: 2rem;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
@media (max-width: 500px) {
    h5 {
        font-size: 1.01rem;
    }
}
b, strong {
    font-weight: bolder
}
small {
    font-size: 80%
}


a {
    text-decoration: none !important;
    color: black;
} 
i.right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2em
}
.card {
    border-radius: 1em;
    border: none;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    margin-bottom: 1em;
    transition: 500ms all cubic-bezier(0.65, -0.12, 0.24, 1.3);
    z-index: 10;
    float: left;
    -webkit-overflow-scrolling: touch;
    margin-left: 2em;
    margin-right: 0em;
}

@media (max-width: 1000px) {
    .card {
        margin-left: 2em;
        margin-right: 2em;
    }
}
@media (max-width: 600px) {
    .card {
        margin-left: 1em;
    }
}
.card:hover{
    transform: scale(0.98);
    box-shadow: 0 3px 28px rgba(0, 0, 0, 0.4);
}
.content {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    height: calc(100% - 2em);
}
@media (max-width: 600px) {
    .content {
        margin-top: 1em;
        margin-left: 1.3em;
        margin-right: 1.3em;
        margin-bottom: 0.5em;
    }
}

.content.small-title {
    margin-bottom: 0em;

}
.lower {
    position: absolute;
    bottom: 2.5em;
    line-height: 0.9em;
}
.bottom-text {
    position: absolute;
    bottom: 0.5em;;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}
@media (min-width: 600px) {
    .app-promo {
        width: 500px;
        height: 500px
    }
    
}
@media (max-width: 600px) {
.app-promo {
    min-height: 400px;
    max-height: 600px;
    width: 91vw;
}

.card {
    margin-right: 0;
}
.app-promo.fullscreen {
    min-height: unset;
}
}
.grey-text {
    color: gray;
}
.grey-text-lighter {
    color: lightgray;
}
.grey-text-darker {
    color: darkgray;
}
.container {
    margin-left: 2em;
    margin-right: 2em;
    
}
@media (max-width: 600px) {
    .container {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 3em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    clear: both;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
.fullscreen .bottom-bar {
    border-radius: 0;
}
.bottom-text-bar {
    position: absolute;
    top: 2.5em;
    left: 4em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.7em;
    width: 60%;
}
h5.bottom-text-bar {
    top: 0.5em;
    
}

.app-icon-bottom-bar {
    width: 4em;
    margin: 0.9em;
    border-radius: 10px;
}
.btn-download {
    position: absolute;
    display: grid;
    align-content: center;
    justify-content: center;
    top: 1.5em;
    right: 1.5em;
    border-radius: 1em;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.7em;
    padding-left: 0.7em;
    height: 1.8em;
    color: rgb(47, 126, 246);
    min-width: 4.5rem;
    text-align: center;
    font-weight: 600;
    float: right;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
.btn-download.right {
    right: 0;
    top: 0.7rem;
}
.black {
    background-color: black;
}

.card.fullscreen:hover {
    transform: scale(1);
}
.card.higher.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh!important;
    z-index: 100;
    border-radius: 0;
    margin: 0;

}

.hidden {
    display: none;
}
.close {
    position: absolute;
    top: 1.5em;
    right: 2em;
    width: 2em;
    height: 2em;
    padding-right: 0.5em;
    padding-left: 0.65em;
    padding-top: 0.5em;
    border-radius: 50%;
    background-color: white;
    
}
.hidden-rollout {
    max-height: 0;
}
.description-page {
    position: absolute;
    z-index: 1;
    display: none;
    transition: 500ms;
}
.description-page.fullscreen {
    display: block;
    position: absolute;
    top: 50vh;
    left: 0;
    bottom: 0;
    width: 100vw;
    min-height: 50vh;
    background-color: white;
    padding-top: 2em;

}
.description-page.lower.fullscreen {
    display: block;
    position: absolute;
    top: 70vh;
    left: 0;
    bottom: 0;
    width: 100vw;
    min-height: 30vh;
    background-color: white;
    padding-top: 2em;

}
.description {
    color: rgb(119, 119, 119);
    line-height: 1.4rem;
    font-weight: 200;
    font-size: 1.1rem;
}
.app-list {
    position: relative;
    margin-top: 1.5em;
    width: 100%;
}
li.app {
    position: relative;
    left: 0em;
    width: 100%;
    list-style: none;
    list-style-type: none !important;
    margin-bottom: 1.5rem;
}
li.app-list::after {
    content: '';
    background-color: rgba(156, 156, 156, 0.767);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -0.7em;
}
.app-name {
    position: absolute;
    left: 3.5rem;
    top: 0em;
    font-size: 18px;
}
.app .app-name {
    /* left: 4.5rem; */
}

p.subtitle {
    position: absolute;
    left: 4.5rem;
    top: 2.2rem;
    font-weight: 100;
    float: left;
    font-size: 0.9rem;
}
.app .subtitle {
    left: 3.5rem;
    top: 1.7rem;
}
@media (max-width: 500px) {
    .app .subtitle {
        /* top: 1.7rem; */
        line-height: 1em;
    }
    .app .app-name {
        top: 0.2em;
    }
    .app h4.app-name {
        font-size: 18px;
    }
}
.bottom-subtitle-bar {
    position: absolute;
    top: 2.5em;
    left: 0em;
    
    margin-right: 1em;
    margin-bottom: 0.7em;
    width: 60%;
}
h5.bottom-subtitle-bar {
    top: 0.5em;
    left: 3em;
}
.light-grey {
    background-color: rgb(240, 240, 240);
}
.grey-text {
    color: rgb(177, 177, 177);
}
.app-icon {
    width: 3em;
    border-radius: 13px;
}
.app .app-icon, .pay-popup-app-icon .app-icon {
    border-width: 0.5px;
    border-style: solid; 
    border-color: rgb(187, 187, 187); 
}
.pay-now {
    transition: bottom 500ms 100ms, visibility 500ms 300ms;
    padding: 1em;
    position: fixed;
    visibility: hidden;
    bottom: -100%;
    width: 30em;
    left: calc(50% - 15em);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    -webkit-backdrop-filter: blur(15px);
}
@media (max-width: 500px) {
    .pay-now {
        border-radius: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
}

.cancel {
    position: absolute;
    right: 1.5em;
    top: 1em;
    color: rgb(47, 126, 246) !important;
}
.header {
    height: 3em;
    width: 100%;
    
}
.header h5 {
    position: relative;
    left: 0.5em;
}
.header::after {
    content: '';
    position: absolute;
    top: 3.5em;
    background-color: rgba(156, 156, 156, 0.767);
    height: 1px;
    width: 90%;
    margin: 0;
    left: 5%;

}
.app-overview-pay .app-name {
    position: relative;
    left: 0.5rem;
    margin-left: 0.4em;
    top: 0.2em;
}
.app-overview-pay .subtitle {
    margin-left: 0.43em;
    position: relative;
    left: 0rem;
    top: 0em;
    color: rgb(177, 177, 177);
}
.app-overview-pay {
    position: relative;
}
.pay-popup-app-icon {
    float: left;
    margin-top: 0.2em;
}
.pay-popup-price {
    float: right;
    position: absolute;
    top: 1rem;
    right: 2em;
    
}
.app-overview-pay::after {
    content: '';
    position: absolute;
    top: 3.8rem;
    background-color: rgba(156, 156, 156, 0.767);
    height: 1px;
    width: 99%;
    margin: 0;
    left: 0.5%;

}
.pay-popup-account {
    position: relative;
    left: 0.5em;
}
.pay-popup-account-wrapper{
    position: relative;
    clear: both;
    margin-top: 2.7rem;
}
.pay-popup-account-wrapper::after {
    content: '';
    position: absolute;
    top: 2em;
    background-color: rgba(156, 156, 156, 0.767);
    height: 1px;
    width: 99%;
    margin: 0;
    left: 0.5%;

}
.pay-now-container {
    padding-top: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pay-now-button {
    border-radius: 0.4em;
    padding: 0.4em 1.2em;
    background-color: rgb(47, 126, 246);
    color: white;
    font-weight: 300;
    transition: 300ms;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.pay-now-button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    transform: scale(0.98);
    color: white;
}
.email {
    color: rgb(119, 119, 119);
    font-weight: lighter;
}

.log-in {
    transition: bottom 500ms 100ms, visibility 500ms 300ms, box-shadow 300ms;
    padding: 1em;
    position: fixed;
    visibility: hidden;
    bottom: -100%;
    width: 30em;
    left: calc(50% - 15em);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    -webkit-backdrop-filter: blur(15px);
}
@media (max-width: 500px) {
    .log-in {
        border-radius: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
}
.log-in-btn {
    border-radius: 0.4em;
    padding: 0.4em 1.2em;
    background-color: rgb(47, 126, 246);
    color: white;
    font-weight: 300;
    transition: 300ms;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.log-in-btn:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    transform: scale(0.98);
    color: white;
}
.log-in-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-btn-wrapper {
    margin-top: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title.fullscreen {
    width: calc(100% - 2em);
}
.apps-list {
    padding-left: 0 !important;
}
.app-page {
    visibility: hidden;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 500ms ease;
    width: 100vw;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    z-index: 998;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    overflow: scroll;
}
.app-page-content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
}
.app-page-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 3em;
    display: flex;
    align-items: center;
    padding: 1em 0em 1em 1em;
    color: rgb(47, 126, 246);
    background-color: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3); */
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
}
.app-page-header::after {
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
    
    position: absolute;
    top: 3em;
}
.app-page-app-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.app-page-app-icon {
    float: left;
    width: 6em;
    border-radius: 25px;
    border-width: 0.5px;
    border-style: solid; 
    border-color: rgb(177, 177, 177); 
}
.app-page-app-name {
    position: relative;
    left: 1rem;
}
.app-page-app-subtitle {
    position: relative;
    left: 1rem;
}
.app-page-btn-download {
    left: 1em;
    top: 0em;
    position: relative;
    float: left;
    
}
.fa-star {
    color: rgb(177, 177, 177);
}
.app-page-rating {
    position: relative;
    left: 0em;
    top: 0em;
}
.app-page-bottom-bar {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    padding-left: 0;
    position: relative;
    top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-content: center;
}
.pay-popup-rating {
    position: relative;
    left: 0.5rem;
}
.fullscreen.full {
    height: 100vh;
    max-height: unset;
}
.card-wrapper {
    position: relative;
}
.bottom-popup-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.bottom-popup {
    position: fixed;
    bottom: -100%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(230, 230, 230, 0.7);
    width: 90%;
    margin: 1em;
    padding: 0.7em;
    border-radius: 1em;
    z-index: 9999;
    transition: all 500ms, bottom 1000ms  cubic-bezier(0.78, -0.04, 0.18, 1.14);
}
.popup-rating {
    position: absolute;
    top: 1.2rem;
    left: 10rem;
}
@media (max-width: 400px) {
    .popup-rating {
        display: none;
    }
}
.screenshot-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
.screenshot {
    display: inline;
    height: 500px;
    margin-right: 0.5em;
    border-radius: 0.5em;
}
@media (max-width: 500px) {
    .screenshot {
        height: 400px;
    }
}
.rating-num {
    color: rgb(177, 177, 177);
    font-size: 1.2rem!important;
    font-weight: 500!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
}
.app-name-popupbar {
    left: 3.3rem;
}
.card.fullscreen {
    margin: 0;
}
.subtitle-popupbar, .app-name-popupbar, .popup-rating i {
    color: rgba(30, 30, 30, 0.8)!important;
}
.app-page-text-description h1 {
    font-size: 3rem;
}